# Chapter 7: List

In [82]:
numbers = [1, 2, 3, 4, 3, 44, 3, 3, 5]
names = ['Amin', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']
lst = [20, 'Mahdi', ['Mahdi',20,"Amin"]]
empty = []

In [85]:
isinstance(lst[2],list),list(reversed(lst[1]))

(True, ['i', 'd', 'h', 'a', 'M'])

In [69]:
str(lst) == repr(lst)

True

In [7]:
dir(numbers)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
s = names[0]
s

'Amin'

In [3]:
s[1]

'm'

In [3]:
lst[2][1][0]

'M'

In [4]:
# lists are mutable
names[0] = 'Reza'

In [5]:
names

['Reza', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']

In [7]:
for name in enumerate(names):
    print(name)

(0, 'Reza')
(1, 'Sahar')
(2, 'Armin')
(3, 'Narges')
(4, 'Raana')
(5, 'Milad')

In [8]:
lst1 = ['A','B','C']
lst2 = ['a','b','c']
for name in zip(lst2,lst1):
    print(name)

('a', 'A')
('b', 'B')
('c', 'C')

In [9]:
zip(lst2,lst1)

In [10]:
lst = list(range(10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
lst / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [12]:
new_lst = []
for item in lst:
    new_lst.append(item/2)
    
new_lst

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [13]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for i in range(len(lst)):
    lst[i] = lst[i]/2
    
lst

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [8]:
# repeat it 2 times
i = 0
for number in numbers:
    numbers[i] = number * 2
    i += 1

In [10]:
lst3 = [number / 2 for number in numbers]
lst3

[1.0, 2.0, 3.0, 4.0, 3.0, 44.0, 3.0, 3.0, 5.0]

In [16]:
numbers
new_nums = numbers / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [15]:
# instead you can use:
new_numbers = [numbers[i]/2 for i in range(len(numbers))]
new_numbers

[1.0, 2.0, 3.0, 4.0, 3.0, 44.0, 3.0, 3.0, 5.0]

### List operations

In [17]:
first = [10, 20, 30]
second = [40, 50, 60]
first + second

[10, 20, 30, 40, 50, 60]

In [18]:
first * 3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### List Slices

In [20]:
numbers[0:3], numbers[-1], numbers[:4], numbers[4:]

([2, 4, 6], 10, [2, 4, 6, 8], [6, 88, 6, 6, 10])

### List Methods

In [15]:
names

['Reza', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']

In [16]:
dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
lst = list(range(10))
lst1 = [item/2 for item in lst if item%2==0]
lst, lst1

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0.0, 1.0, 2.0, 3.0, 4.0])

In [6]:
lst.append(lst1)

In [7]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [0.0, 1.0, 2.0, 3.0, 4.0]]

In [4]:
help(names.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [26]:
lst2 = [2, 25, 3, 55, 71, 1]
lst2.sort()
lst2

[1, 2, 3, 25, 55, 71]

In [27]:
names, names.sort(), names

(['Armin', 'Milad', 'Narges', 'Raana', 'Reza', 'Sahar'],
 None,
 ['Armin', 'Milad', 'Narges', 'Raana', 'Reza', 'Sahar'])

#### append()

In [24]:
names.append('Amin')
names

['Armin', 'Milad', 'Narges', 'Raana', 'Reza', 'Sahar', 'Amin']

#### sort()

In [25]:
names.sort(reverse = True)
names

['Sahar', 'Reza', 'Raana', 'Narges', 'Milad', 'Armin', 'Amin']

#### extend()

In [28]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

#### pop()

In [29]:
t = ['a', 'b', 'c']
x = t.pop(0)
print("t is: ", t)
print("x is: ", x)

t is:  ['b', 'c']
x is:  a

#### del()

In [30]:
t = ['a', 'b', 'c'] 
del t[1]
print("t is: ", t)

t is:  ['a', 'c']

In [31]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print('t is: ', t)

t is:  ['a', 'f']

In [30]:
t = ['a', 'b', 'c']
t.remove('b')
print('t is: ', t)

t is:  ['a', 'c']

#### Some Functions

In [32]:
nums = [3, 41, 12, 9, 74, 15]
print('length of nums is = ', len(nums))
print('maximum of nums is = ', max(nums))
print('minimum of nums is = ', min(nums))
print('summation of nums is = ', sum(nums))
print('average of nums is = ', sum(nums)/len(nums))

length of nums is =  6
maximum of nums is =  74
minimum of nums is =  3
summation of nums is =  154
average of nums is =  25.666666666666668

In [37]:
# EXE
total = 0 
count = 0 
average = None
while (True):
    inp = input('Enter a number: ') 
    if inp == 'done': 
        break
    value = float(inp)
    total = total + value
    count = count + 1
    average = total / count
print('Average:', average)

Enter a number: done
Average: None

In [33]:
numlist = list() 
average = None
while (True):
    inp = input('Enter a number: ') 
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)
average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 1
Enter a number: 3
Enter a number: 6
Enter a number: 12
Enter a number: 5
Enter a number: done
Average: 5.4

### Lists and Strings

In [34]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [42]:
s = 'This is Amin Oroji, from Prata Technology.'
t = s.split()
print(t)

['This', 'is', 'Amin', 'Oroji,', 'from', 'Prata', 'Technology.']

In [43]:
delimiter = ','
s.split(delimiter)

['This is Amin Oroji', ' from Prata Technology.']

In [44]:
delimiter = '$'
s1 = 'This$is$Amin$ Oroji$,$ from $Prata$ Technology'
s1.split(delimiter)

['This', 'is', 'Amin', ' Oroji', ',', ' from ', 'Prata', ' Technology']

In [45]:
t = ['This', 'is', 'Amin', 'Oroji'] 
delimiter = ' '
delimiter.join(t)

'This is Amin Oroji'

In [46]:
t = ['This', 'is', 'Amin', 'Oroji'] 
delimiter = ' * '
delimiter.join(t)

'This * is * Amin * Oroji'

In [47]:
s = '      Amin          Oroji           '
t = s.split()
print(t)

['Amin', 'Oroji']

In [48]:
delimiter = ' '
delimiter.join(t)

'Amin Oroji'

In [35]:
while True:
    inp = input()
    if inp == 'done':
        break
    t = inp.split()
    print(' '.join(t))

                Amin              Oroji
Amin Oroji
                              Amin Oroji
Amin Oroji
     AminOroji
AminOroji
done

### Objects and Values

In [9]:
a = 'banana'
b = 'banana'
a is b

True

In [8]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [39]:
type(a)

list

two lists are ***equivalent***, because they have the same elements, but ***not identical***, because they are **not** the ***same object***.

### Aliasing

In [10]:
a = [1, 2, 3]
b = a
a is b

True

An object with more than one reference has more than one name, so we say that the object is aliased.

In [11]:
a[0] = 25
a

[25, 2, 3]

In [12]:
b

[25, 2, 3]

If the aliased object is mutable, changes made with one alias affect the other:

In [43]:
b[0] = 17
print(a)

[17, 2, 3]

#### copy()

In [13]:
c = a.copy()
c

[25, 2, 3]

In [14]:
a is c

False

In [15]:
c[0] = 12
print('a = ', a)
print('c = ', c)

a =  [25, 2, 3]
c =  [12, 2, 3]