## Chapter2: Variables, expressions, and statements


#### A variable is a name that refers to a value.


#### An expression is a combination of values, variables, and operators.


#### A statemant is a unit of code that has an effect, like creating a variable or displaying a value.


### Values and types

In [1]:
2

2

In [2]:
'salam'

'salam'

In [3]:
True

True

In [5]:
x = 2
type(x)

int

In [7]:
string = 'Hello World!'
type(string)

str

In [8]:
string

'Hello World!'

In [9]:
pi = 3.1415926535897931
type(pi)

float

In [10]:
x = 2
y = '2'
print("Type of 'x' is: ",type(x))
print("Type of 'y' is: ", type(y))

Type of 'x' is:  <class 'int'>
Type of 'y' is:  <class 'str'>

In [12]:
bl = True
st = 'True'
print('Type of "bl" is: ',type(bl))
print('Type of "st" is: ', type(st))

Type of "bl" is:  <class 'bool'>
Type of "st" is:  <class 'str'>

### Variable names and keywords

In [15]:
76trombones = 'big parade'

SyntaxError: invalid syntax (3381618747.py, line 1)

In [26]:
class = 'Advanced Theoretical Zymurgy'

SyntaxError: invalid syntax (3803549429.py, line 1)

In [1]:
a = [1, 2, 3, 4, 5, 6]
sum(a)

21

In [2]:
sum  = 'hi everyone!'

In [3]:
sum

'hi everyone!'

In [4]:
sum(a)

TypeError: 'str' object is not callable

In [8]:
min(a), max(a)

TypeError: 'bool' object is not callable

In [7]:
# min = True

In [21]:
more@ = 1000000

FileNotFoundError: [Errno 2] No such file or directory: '@ = 1000000'

#### Python reserves 35 keywords:

***and, del, from, as,        elif,      global, assert,    else,      if, break,     except,    import, class, False,     in,
continue,  finally,   is,
def,       for,       lambda,
None,      True,
nonlocal,  try,
not,       while,
or,        with,
pass,      yield,
raise,     async,
return,    await***

### Operators and operands

main operators:

```+, -, *, /, **```

modulus operators:

``` %, //```


In python3:

In [3]:
2/3

0.6666666666666666

In [13]:
2//3

0

In [7]:
10//7, 10%7

(1, 3)

String operations:
- concatenation ```+```
- multiplication ``` * ```

In [8]:
first = 50; second = 150
first + second

200

In [9]:
first = '50'; second = 150
first + second

TypeError: can only concatenate str (not "int") to str

In [11]:
x = int('2')
x, type(x)

(2, int)

In [12]:
print(int(first) + second)

200

In [17]:
print(first + str(second))

50150

In [13]:
50+150, 150+50

(200, 200)

In [14]:
first = '50'; second = '1000'
first + second

'501000'

In [19]:
second + first

'100050'

In [15]:
first_name = 'Amin'
last_name = 'Oroji'

In [18]:
first_name + ' ' + last_name

'Amin Oroji'

In [20]:
first = '50'; second = 3
print('first * second is: ', first * second)
print('second * first is: ', second * first)

first * second is:  505050
second * first is:  505050

In [19]:
50 * 3, 3*50

(150, 150)

In [21]:
first = '50'; second = '3'
first * second

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
3 * first, first * 3

('505050', '505050')

### Asking the user for input

In [26]:
name = input('What is your name?\n')

What is your name?
Sahar

In [27]:
print(name)

Sahar

In [30]:
first = int(input('Please inter the first integer\n'))
second = int(input('Please inter the second integer\n'))
print('first + second=', first + second)
print('first * second=', first * second)

Please inter the first integer
7
Please inter the second integer
120
first + second= 127
first * second= 840

In [33]:
first = input('Please inter your first name\n')
last = input('Please inter your last name\n')
school = input('Please inter your school name\n')
age = input('Please inter your Age\n')
gender = input('Please inter your Gender\n')

Please inter your first name
Armin
Please inter your last name
Golzar
Please inter your school name
PNU
Please inter your Age
20
Please inter your Gender
M

In [34]:
age

'20'

In [35]:
print('My name is ', first + ' ' + last + ',')
print('I have ', age, 'years old,')
print("I'm ", gender + ',')
print("Finally, I'm studing at", school + '.')

My name is  Armin Golzar,
I have  20 years old,
I'm  M,
Finally, I'm studing at PNU.

#### Comments

In [40]:
# compute the mltiplication of first and second
mul = first * second  # first mulyiply by second

#### Choosing mnemonic variable names

In [28]:
hours = 35.0 # hours of employment
rate = 12.50  # rate of the peyment
pay = hours * rate # total peyment
print(pay)

437.5

In [29]:
x1q3z9ahd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ahd * x1q3z9afd
print(x1q3p9afd)

437.5

#### Exercise
1. Take the radius of a circle and calculate the area of that circle. 

2. Calculate the valume of a rectangle based on its length, width and height.

3. Calculate the valume of a sphare.

In [41]:
diameter = input('Enter diameter: ') # input is the circle diameter
radius = int(diameter)/2             # calculate radius as an integer
pi = 3.14                            # pi as a constant
area = pi * radius ** 2              # calculate the area
print('Area is: ',area)              # print area

Enter diameter: 10
Area is:  78.5