# Chapter 10: Tuples

### Tuples are immutable

A tuple is a sequence of values much like a list. The values stored in a tuple can be **any type**, and they are **indexed by integers**.

In [1]:
tp1 = 'a', 'b', 'c', 'd', 'e'
type(tp1)

tuple

In [3]:
tp2 = ('a', 'b', 'c', 'd', 'e')
type(tp2)

tuple

In [4]:
tp1 is tp2

False

In [5]:
# Without the comma Python treats ('a') as an expression with a string in parentheses that evaluates to a string:
st = ('Amin')
type(st)

str

In [6]:
# empty tuple
empty_tuple = tuple()
empty_tuple

()

In [7]:
dir(tp1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
tpl = ('a','b','c','a','a')
tpl
tpl.count('a')

3

In [9]:
help(tp1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [10]:
# If the argument is a sequence (string, list, or tuple), 
# the result of the call to tuple is a tuple with the elements of the sequence:
new_tuple = tuple('Hello World!')
new_tuple

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [11]:
new_tuple.count('l')

3

In [18]:
new_tuple.index('o',5)

7

In [13]:
new_tuple[0] = 'Amin'

TypeError: 'tuple' object does not support item assignment

In [19]:
new_tuple = 'new string is assigned'
print(new_tuple)
print('type is: ', type(new_tuple))

new string is assigned
type is:  <class 'str'>

In [20]:
new_tuple = tuple('new string is assigned')
print(new_tuple)
print('type: ', type(new_tuple))

('n', 'e', 'w', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'a', 's', 's', 'i', 'g', 'n', 'e', 'd')
type:  <class 'tuple'>

## Comparing tuples

The comparison operators work with tuples and other sequences. Python starts by comparing the first element from each sequence. If they are equal, it goes on to the next element, and so on, until it finds elements that differ. Subsequent elements are not considered (even if they are really big).

In [21]:
print((0, 1, 2) < (0, 3, 4))
print((0, 5, 0) < (0, 3, 4))
print((0, 1, 2000000) < (0, 1))

True
False
False

### IMPORTANT POINT

In [24]:
### IMPORTANT POINT
m =  ('Amin', 'Oroji', 'Armin ')
x, y, z = m
print(x)
print(y)
print(z)

Amin
Oroji
Armin

In [25]:
print(type(x), type(m))

<class 'str'> <class 'tuple'>

The same as lists, it means:

x = m[0] and y = m[1]

In [26]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [27]:
# example
addr = 'amin@prata-tech.com'
uname, domain = addr.split('@')
print('username: ', uname)
print('Domain: ', domain)

username:  amin
Domain:  prata-tech.com

### Dictionaries and Tuples

In [28]:
### Dictionaries and Tuples
employees = {'CEO':'Amin', 'IT Support': 'Milad', 'DM Manager': 'Sahar', 'AI Eng': 'Armin',
            'Graphic Designer':'Raana', 'UX Designer':'Narges'
           }
items = list(employees.items())
items

[('CEO', 'Amin'),
 ('IT Support', 'Milad'),
 ('DM Manager', 'Sahar'),
 ('AI Eng', 'Armin'),
 ('Graphic Designer', 'Raana'),
 ('UX Designer', 'Narges')]

In [29]:
type(items[0])

tuple

In [30]:
items.sort()
items

[('AI Eng', 'Armin'),
 ('CEO', 'Amin'),
 ('DM Manager', 'Sahar'),
 ('Graphic Designer', 'Raana'),
 ('IT Support', 'Milad'),
 ('UX Designer', 'Narges')]

### Multiple assignment with dictionaries

In [31]:
for key, val in items:
    print('%s : %s' %(val, key))

Armin : AI Eng
Amin : CEO
Sahar : DM Manager
Raana : Graphic Designer
Milad : IT Support
Narges : UX Designer

In [32]:
items.sort(reverse = True)
items

[('UX Designer', 'Narges'),
 ('IT Support', 'Milad'),
 ('Graphic Designer', 'Raana'),
 ('DM Manager', 'Sahar'),
 ('CEO', 'Amin'),
 ('AI Eng', 'Armin')]

In [34]:
new_list = list()
for key, val in items:
    new_list.append((val,key))

type(new_list), type(new_list[0])

(list, tuple)

### Using Tuples as Keys in Dictionaries

Tuples are hashable unlike lists.

In [35]:
phonebook = {('Amin','Oroji'):'09981637510', ('Armin','Golzar'):'09981637520',('Milad','Gashtil'):'09981637530'}
phonebook

{('Amin', 'Oroji'): '09981637510',
 ('Armin', 'Golzar'): '09981637520',
 ('Milad', 'Gashtil'): '09981637530'}

In [36]:
phonebook[('Amin','Oroji')]

'09981637510'

## Excercise: Write a script to create your phonebook ((name,surname),number). update your phonebook with new entries.