# Chapter 5: String

A string is a sequence of characters

In [1]:
first = 'Amin'
last = 'Oroji'

In [2]:
type(first)

str

In [3]:
first[0], last[1], first[-1]

('A', 'r', 'n')

In [4]:
first[1.5]

TypeError: string indices must be integers

In [5]:
len(first)

4

In [6]:
for char in last:
    print(char)

O
r
o
j
i

### String Slices

In [7]:
new = ' Amin Oroji '
new

' Amin Oroji '

In [8]:
new[0], new[1:4], new[:4], new[5:],new[-2], new[:]

(' ', 'Ami', ' Ami', ' Oroji ', 'i', ' Amin Oroji ')

In [9]:
# strings are immutable 
greeting = 'Hello, world!'
# greeting = 'armin'
greeting[0] = 'J'

TypeError: 'str' object does not support item assignment

In [10]:
len(greeting)

13

#### Looping and Counting

In [11]:
word = 'banana' 
count = 0
for letter in word:
    if letter == 'a': 
        #count = count + 1
        count += 1
print(count)

3

In [12]:
# EXE
# def count_char(n, s):
#     .....
#     return how many n in s?

#### in

In [13]:
'a' in word

True

In [14]:
'ab' in word

False

In [15]:
'nan' in word

True

#### String comparison

In [16]:
while True:
    word = input() 
    if word == 'done': 
        break
    
    if word < 'banana':
        print('Your word,' + word + ', comes before banana.')
    elif word > 'banana':
        print('Your word,' + word + ', comes after banana.')
    else:
        print('All right, bananas.')

banana
All right, bananas.
done

#### String methods
Strings are an example of Python objects. An object contains both data (the actual string itself) and methods, which are effectively functions that are built into the object and are available to any instance of the object.

In [17]:
hey = 'Hello world!'
type(hey)

str

In [18]:
dir(hey)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [20]:
word.upper()

'DONE'

In [21]:
print(word)

done

In [22]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [25]:
['A','m','i','n']
'/'.join(['A','m','i','n'])

'A/m/i/n'

In [26]:
word = 'banana'
word.upper()

'BANANA'

In [27]:
word.find('a')

1

It can take as a second argument the index where it should start:

In [28]:
word.find('a', 4)

5

In [29]:
# remove white space (spaces, tabs, or newlines) using the strip method:
sent = '      Amin   Oroji                    '
sent.strip()

'Amin   Oroji'

EXE:
"        ARMIN            GOLZAR             "---------> 'Armin Golzar'

In [30]:
# startwith()
line = 'Have a nice day'
line.startswith('Have')

True

In [31]:
line.startswith('have')

False

In [32]:
line.lower().startswith('h')

True

#### Parsing strings

In [33]:
# extrcat the domain
data = 'From amin.oroji@prata_tech.com Sat Jan  5 09:14:16 2008'
atpos = data.find('@')
print(atpos)
sppos = data.find(' ',atpos)
print(sppos)
host = data[atpos+1:sppos]
print(host)

15
30
prata_tech.com

#### Format Operator
The format operator, % allows us to construct strings, replacing parts of the strings with the data stored in variables.

Example: For example, the format sequence %d means that the second operand should be
formatted as an integer (“d” stands for “decimal”):

In [34]:
age = 40
print('I am '+ str(age) + ' years old.')

I am 40 years old.

In [35]:
age = 40
print('I am %d years old' % age)

I am 40 years old

In [1]:
print('I am %d years old and I went to %s around %s (%g) yeras ago.' % (40, 'Malaysia', 'ten', 10.5))

I am 40 years old and I went to Malaysia around ten (10.5) yeras ago.

#### Errors

In [2]:
'%d %d' % (1, 2)

'1 2'

In [41]:
'%d' % 'dollars'

TypeError: %d format: a real number is required, not str

In [51]:
number = 10.5457085
print(f'I am {number:.2f} years old.')

I am 10.54570850 years old.