# Chapter 7: List

In [1]:
numbers = [1, 2, 3, 4, 3, 44, 3, 3, 5]
names = ['Amin', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']
lst = [20, 'Mahdi', ['Mahdi',20,"Amin"]]
empty = []

In [2]:
list(lst[2][0])

['M', 'a', 'h', 'd', 'i']

In [3]:
isinstance(lst[2],list),list(reversed(lst[1]))

(True, ['i', 'd', 'h', 'a', 'M'])

In [4]:
repr(lst)

"[20, 'Mahdi', ['Mahdi', 20, 'Amin']]"

In [5]:
str(lst)

"[20, 'Mahdi', ['Mahdi', 20, 'Amin']]"

In [6]:
str(lst) == repr(lst)

True

In [7]:
dir(numbers)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
s = names[0]
s

'Amin'

In [ ]:
s[1]

In [9]:
print(numbers)
print(names)
print(lst)

[1, 2, 3, 4, 3, 44, 3, 3, 5]
['Amin', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']
[20, 'Mahdi', ['Mahdi', 20, 'Amin']]

In [10]:
lst

[20, 'Mahdi', ['Mahdi', 20, 'Amin']]

In [11]:
lst[2][0][0]

'M'

In [12]:
# lists are mutable
names[0] = 'Reza'

In [13]:
names

['Reza', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']

In [14]:
for name in enumerate(names):
    print(name)

(0, 'Reza')
(1, 'Sahar')
(2, 'Armin')
(3, 'Narges')
(4, 'Raana')
(5, 'Milad')

In [17]:
lst1 = ['A','B','C']
lst2 = ['a','b','c','v']
for name in zip(lst2,lst1):
    print(name)

('a', 'A')
('b', 'B')
('c', 'C')

In [16]:
zip(lst2,lst1)

In [18]:
lst = list(range(10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
lst / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [20]:
new_lst = []
for item in lst:
    new_lst.append(item/2)
    
new_lst

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [21]:
lst[9] = 11

In [22]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]

In [24]:
for i in range(len(lst)):
    lst[i] = lst[i]/2
    
lst

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 5.5]

In [23]:
2/0

ZeroDivisionError: division by zero

In [25]:
# repeat it 2 times
i = 0
for number in numbers:
    numbers[i] = number * 2
    i += 1

In [26]:
numbers

[2, 4, 6, 8, 6, 88, 6, 6, 10]

In [30]:
lst3 = [number / 2 for number in numbers if number%3 == 0]
lst3

[3.0, 3.0, 3.0, 3.0]

In [29]:
numbers

[2, 4, 6, 8, 6, 88, 6, 6, 10]

In [31]:
new_list1 = []
for number in numbers:
    new_list1.append(number*2)
new_list1

[4, 8, 12, 16, 12, 176, 12, 12, 20]

In [32]:
lst4 = [number * 2 for number in numbers]
lst4

[4, 8, 12, 16, 12, 176, 12, 12, 20]

In [33]:
numbers
new_nums = numbers / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [34]:
# instead you can use:
new_numbers = [numbers[i]/2 for i in range(len(numbers))]
new_numbers

[1.0, 2.0, 3.0, 4.0, 3.0, 44.0, 3.0, 3.0, 5.0]

### List operations

In [35]:
first = [10, 20, 30]
second = [40, 50, 60]
first + second

[10, 20, 30, 40, 50, 60]

In [36]:
first * 3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### List Slices

In [37]:
numbers

[2, 4, 6, 8, 6, 88, 6, 6, 10]

In [38]:
numbers[0:3], numbers[-1], numbers[:4], numbers[4::2]

([2, 4, 6], 10, [2, 4, 6, 8], [6, 6, 10])

### List Methods

In [39]:
names

['Reza', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']

In [40]:
dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
lst = list(range(10))
lst1 = [item/2 for item in lst if item%2==0]
lst, lst1

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0.0, 1.0, 2.0, 3.0, 4.0])

In [41]:
names

['Reza', 'Sahar', 'Armin', 'Narges', 'Raana', 'Milad']

In [ ]:
lst.append(lst1)

In [ ]:
lst

In [ ]:
help(names.sort)

In [ ]:
lst2 = [2, 25, 3, 55, 71, 1]
lst2.sort()
lst55 = lst2

In [ ]:
namha = ['C', 'A']
namha.sort()
namha

In [ ]:
lst2

In [ ]:
names, names.sort(), names

#### append()

In [ ]:
names.append('Amin')
names

#### sort()

In [ ]:
names.sort(reverse = True)
names

#### extend()

In [43]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

#### pop()

In [44]:
t = ['a', 'b', 'c']
x = t.pop(0)
print("t is: ", t)
print("x is: ", x)

t is:  ['b', 'c']
x is:  a

#### del()

In [45]:
t = ['a', 'b', 'c'] 
del t[1]
print("t is: ", t)

t is:  ['a', 'c']

In [46]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print('t is: ', t)

t is:  ['a', 'f']

In [47]:
t = ['a', 'b', 'c']
t.remove('b')
print('t is: ', t)

t is:  ['a', 'c']

#### Some Functions

In [48]:
nums = [3, 41, 12, 9, 74, 15]
print('length of nums is = ', len(nums))
print('maximum of nums is = ', max(nums))
print('minimum of nums is = ', min(nums))
print('summation of nums is = ', sum(nums))
print('average of nums is = ', sum(nums)/len(nums))

length of nums is =  6
maximum of nums is =  74
minimum of nums is =  3
summation of nums is =  154
average of nums is =  25.666666666666668

In [ ]:
# EXE
total = 0 
count = 0 
average = None
while (True):
    inp = input('Enter a number: ') 
    if inp == 'done': 
        break
    value = float(inp)
    total = total + value
    count = count + 1
    average = total / count
print('Average:', average)

In [ ]:
numlist = list() 
average = None
while (True):
    inp = input('Enter a number: ') 
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)
average = sum(numlist) / len(numlist)
print('Average:', average)

### Lists and Strings

In [ ]:
s = 'spam'
t = list(s)
print(t)

In [ ]:
s = 'This is Amin Oroji, from Prata Technology.'
t = s.split()
print(t)

In [ ]:
delimiter = ','
s.split(delimiter)

In [ ]:
delimiter = '$'
s1 = 'This$is$Amin$ Oroji$,$ from $Prata$ Technology'
s1.split(delimiter)

In [ ]:
t = ['This', 'is', 'Amin', 'Oroji'] 
delimiter = ' '
delimiter.join(t)

In [ ]:
t = ['This', 'is', 'Amin', 'Oroji'] 
delimiter = ' * '
delimiter.join(t)

In [ ]:
s = '      Amin          Oroji           '
t = s.split()
print(t)

In [ ]:
delimiter = ' '
delimiter.join(t)

In [ ]:
while True:
    inp = input()
    if inp == 'done':
        break
    t = inp.split()
    print(' '.join(t))

### Objects and Values

In [49]:
a = 'banana'
b = 'banana'
a is b

True

In [50]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [51]:
type(a)

list

two lists are ***equivalent***, because they have the same elements, but ***not identical***, because they are **not** the ***same object***.

### Aliasing

In [52]:
a = [1, 2, 3]
b = a
a is b

True

An object with more than one reference has more than one name, so we say that the object is aliased.

In [ ]:
a[0] = 25
a

In [ ]:
b

If the aliased object is mutable, changes made with one alias affect the other:

In [ ]:
b[0] = 17
print(a)

#### copy()

In [ ]:
c = a.copy()
c

In [ ]:
a is c

In [ ]:
c[0] = 12
print('a = ', a)
print('c = ', c)

In [56]:
hashem = [20, 30, 40]
akbar = hashem
asghar = hashem.copy()

In [57]:
hashem[0]= 60

In [55]:
akbar

[60, 30, 40]

In [58]:
asghar

[20, 30, 40]